/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: rgb(255, 255, 255);
    color: rgb(9, 8, 8);
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 2rem;
    text-align: left;
}

header nav ul {
    list-style: none;
    margin-top: 0.5rem;
    margin: 10px;
    
}

header nav ul li {
    display: inline;
    margin: 0 10px;
    
}

/* Estilos para los enlaces dentro de nav */
header nav ul li a {
    text-decoration: none; /* Elimina la línea subrayada */
    color: black; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 8px 15px; /* Espaciado dentro del enlace */
    border-radius: 5px; /* Bordes redondeados */
    background-color: transparent; /* Fondo transparente por defecto */
    transition: background-color 0.3s ease; /* Animación suave para hover */
}

/* Hover para enlaces dentro del nav */
header nav ul li a:hover {
    text-decoration: none; /* Mantener sin subrayado en hover */
    background-color: #eaeaea; /* Fondo gris claro al pasar el ratón */
    color: black; /* Asegura que el texto sea visible */
}


/* Footer */
footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3); 
    
}

/* Links dentro del footer */
footer p {
    margin: 0;
    font-size: 0.9rem;
}
